.contact .contact-container {
    padding: 30px;
    text-align: center;
}

.contact .contact-container h2 {
    font-family: "Anton", serif;
    font-weight: 400;
    font-size: 25px;
}

.contact .contact-container .contacts {
    display: grid;
    justify-content: center;
}

.contact .contact-container .contacts .item a {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    font-family: "Open Sans", serif;
    font-weight: 700;
    font-size: 18px;
}

.contact .contact-container .contacts .item a img {
    width: 60px;
}

.contact .contact-container .form  {
   margin-top: 30px;
}

.contact .contact-container .form .email-form-container .email-form {
    display: grid;
    gap: 20px;
    justify-items: center;
}

.contact .contact-container .form .email-form-container .email-form input {
    padding: 15px;
    margin: 0; 
    border: 2px solid white;
    background-color: #0c0b29;
    width: 80%; /* Ajusta a largura para ser menor que o textarea */
    box-sizing: border-box; /* Inclui o padding no cálculo da largura */
}

.contact .contact-container .form .email-form-container .email-form button {
    margin: 0 auto;
    padding: 20px;
    border-radius: 25px;
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.contact .contact-container .form .email-form-container .email-form button:hover {
    transform: scale(1.1);
}

.contact .contact-container .form textarea {
    border: 2px solid white;
    padding: 20px;
    height: 300px;
    resize: none;
    background-color: #0c0b29;
    width: 100%; /* Garantir que o textarea ocupe a largura total */
    box-sizing: border-box; /* Inclui o padding no cálculo da largura */
}

@media (max-width: 768px) {
    .contact .contact-container {
        padding: 10px;
    }

    .contact .contact-container h2 {
        font-size: 18px;
    }

    .contact .contact-container .contacts .item a {
        font-size: 16px;
    }

    .contact .contact-container .contacts .item a img {
        width: 30px;
    }

    .contact .contact-container .form .email-form-container .email-form {
        padding: 10px 0;
        width: 100%;
    }

    .contact .contact-container .form .email-form-container .email-form input,
    .contact .contact-container .form .email-form-container .email-form textarea {
        width: 100%; /* Garantir que o input e o textarea ocupem a largura total */
    }
}
